@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Inicialización */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {

    /* paleta de colores */
    --default-background_color: #1a1a1a;
    --gradient-background-color: linear-gradient(to top, #0F2027, #203A43, #2C5364);
    --text-color-white: #efefef;

    /* Scroll */
    --scroll-size: 16px;
    --scroll-bg: transparent;
    --scroll-radius: 8px;
    --scroll-padding: 4px;
}

/* Estilos generales */

html {
    scroll-behavior: smooth;
    background-color: var(--default-background_color);
}

body {
    background-image: var(--gradient-background-color);
    background-attachment: fixed;
}

h1,
h2,
.paragraph,
label,
a,
button {
    color: var(--text-color-white);
    text-align: center;
}

.hero-title {
    font-size: 2.1em;
}

.title {
    font-size: 1.9em;
}

.paragraph {
    font-size: 1.2em;
}

article {
    min-height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 1400px;
    margin: auto;
    padding: 0px 7px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 45px;
}

/* Nav mobile */

.btn-nav {
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent;
}

.link-cv {
    padding: 1px 7px;
    border-radius: 5px;
    border: 3px solid #2C5364;
    text-decoration: none;
    font-weight: bold;
}

.nav {
    width: 100%;
    height: 55px;
    background-color: #000000bf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7px;
    position: fixed;
    backdrop-filter: blur(3px);
}

.wallpaper-nav {
    position: fixed;
    z-index: -1;
    opacity: 0.33;
}

.navbar {
    width: 100%;
    backdrop-filter: blur(4px);
    background-color: #000000bf;
    height: 95vh;
    position: fixed;
    left: -100%;
    margin-top: 55px;
    opacity: 0;
    transition: .2s left ease-in-out, .2s opacity ease-in-out;
}

.active {
    left: 0%;
    opacity: 1;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.link:hover {
    color: #a1f800;
}

.list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    list-style: none;
}

/* Scroll style */

.scroll::-webkit-scrollbar {
    width: var(--scroll-size);
    height: var(--scroll-size);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: var(--scroll-radius);
    border: var(--scroll-padding) solid transparent;
    background-clip: content-box;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #7F7F7F;
    display: block;
}

/* Estilos especificos */

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: .3s transform ease-in-out;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}

.profile:hover {
    transform: scale(1.1);
}

.container-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* About */

#about {
    background-color: #1a1a1a;
    background-image: linear-gradient(0deg, #000000bf, #000000bf), url('imgs/about-wallpaper.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
}

/* Skills */

.skill-icon {
    width: 55px;
    height: 55px;
    font-size: 55px;
    color: #fff;
}

.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 15px 10px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 80px;
    padding: 10px 10px;
    gap: 5px;
    transition: transform .1s ease-in-out;
}

.icon-container:hover {
    transform: scale(1.1);
}

.icon-name {
    color: var(--text-color-white);
    font-weight: bold;
    padding: 0px 10px;
    background-color: #00000020;
    border-radius: 5px;
}

/* Projects */

#projects {
    background-image: linear-gradient(to right, #0a0a0a, #2a2a2a);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
}

.cards-container {
    margin-top: 40px;
    display: flex;
    width: 70vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #203A43;
    width: 90%;
    height: 27vh;
    min-width: 240px;
    min-height: 135px;
    max-width: 480px;
    max-height: 270px;
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-1 {
    background-image: url('imgs/stocktracking.jpg');
}

.card-2 {
    background-image: url('imgs/comunicate.webp');
}

.card-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 3px 7px;
    background-color: #00000080;
    border-radius: 5px;
}

/* Networks */

.containet-net {
    width: 90px;
    height: 90px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: transform .1s ease-in-out;
}

.link-network {
    text-decoration: none;
    font-weight: 600;
    transition: 0s text-decoration ease;
}

.icon-network {
    font-size: 70px;
    color: #fff;
    transition: 0s ease-in-out all;
}

.fa-instagram:hover {
    background: -webkit-linear-gradient(#fdf497, #fd5949, #d6249f, #285AEB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-facebook:hover {
    color: #007bff;
}

.fa-linkedin:hover {
    color: #00b3ff;
}

.fa-github:hover {
    color: #cfcfcf;
}

.container-networks {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 15px 10px;
}

/* Media queries for Desktop */

@media (min-width:1000px) {

    .container {
        padding: 0px 20px;
    }

    /* Navbar Desktop */

    .btn-nav {
        display: none;
    }

    .nav {
        backdrop-filter: none;
        background-color: #0a0a0a;
    }

    .navbar {
        background-color: transparent;
        backdrop-filter: none;
        height: auto;
        position: relative;
        left: 0;
        margin-top: 0;
        opacity: 1;
    }

    .link-cv {
        position: fixed;
        right: 1vw;
        top: 95vh;
        background-color: #0a0a0a;
    }

    .wallpaper-nav {
        display: none;
    }

    .list {
        height: 55px;
        padding: 1px 20px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        position: fixed;
    }

    /* Hero Desktop */

    .container-hero {
        align-items: center;
        flex-direction: row-reverse;
        gap: 60px;
    }

    .hero-title {
        text-align: start;
    }

    .profile {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    /* About Desktop */

    #about .container {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    #about .container .title {
        font-size: 3em;
        text-align: start;
    }

    #about .container .paragraph {
        text-align: start;
    }

    /* Skills Desktop */

    .skill-icon {
        width: 75px;
        height: 75px;
        font-size: 75px;
    }

    .skills-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 100px;
    }

    .icon-container {
        gap: 10px;
    }

    #skills .container .title,
    #skills .container .paragraph {
        text-align: start;
        margin: 40px 0px;
    }

    #skills .container .title {
        font-size: 3em;
    }

    /* Projects Desktop */

    #projects .container .title {
        font-size: 3em;
        margin-bottom: 100px;
    }

    /* Networks Desktop */

    .containet-net:hover {
        transform: scale(1.2);
    }

    #networks .container .title,
    #networks .container .paragraph {
        text-align: start;
        margin: 20px 0px;
    }

    #networks .container {
        width: 80%;
    }

    .container-networks {
        gap: 120px;
    }

    .link-network:hover {
        text-decoration: underline;
    }

}