@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

/* Inicialización */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

:root {

    /* paleta de colores */
    --default-background_color: #111111;
    --gradient-background-color: linear-gradient(to top, #2b221c, #a27456);
    --text-color-white: #efefef;
    --section-color: #111111;
    --link-color: #a78976;
    --card-gradient: linear-gradient(to top, #355C7Db3, #6C5B7Bb3, #c06c84b3);

    /* Scroll */
    --scroll-size: 16px;
    --scroll-bg: transparent;
    --scroll-radius: 8px;
    --scroll-padding: 4px;
}

/* Estilos generales */

html {
    scroll-behavior: smooth;
    background-color: var(--default-background_color);
}

body {
    background-image: var(--gradient-background-color);
    background-attachment: fixed;
}

h1,
h2,
.paragraph,
label,
a,
button {
    color: var(--text-color-white);
    text-align: center;
}

.hero-title {
    font-size: 2.1em;
}

.title {
    font-size: 1.5em;
    margin-bottom: 30px;
    text-decoration: underline;
}

.paragraph {
    font-weight: 300;
    font-size: 1.2em;
}

article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 1700px;
    margin: auto;
    padding: 0px 7px;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 45px;
}

/* Nav mobile */

.btn-nav {
    width: 40px;
    height: 40px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent;
    position: relative;
    z-index: 2;
}

.link-cv {
    padding: 1px 7px;
    border-radius: 5px;
    border: 3px solid #2C5364;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    z-index: 2;
}

.nav {
    width: 100%;
    height: 55px;
    background-color: #000000bf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7px;
    position: fixed;
    backdrop-filter: blur(3px);
    z-index: 1;
}

.wallpaper-nav {
    position: fixed;
    right: 30px;
    z-index: -1;
    opacity: 0.33;
}

.navbar {
    z-index: 1;
    width: 100%;
    backdrop-filter: blur(4px);
    background-color: #000000bf;
    height: 95vh;
    position: fixed;
    left: -100%;
    margin-top: 55px;
    opacity: 0;
    transition: .2s left ease-in-out, .2s opacity ease-in-out;
}

.active {
    left: 0%;
    opacity: 1;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in-out;
}

.active-link {
    color: var(--link-color);
}

.link:hover {
    color: var(--link-color);
}

.list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    list-style: none;
}

/* Scroll style */

.scroll::-webkit-scrollbar {
    width: var(--scroll-size);
    height: var(--scroll-size);
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #B4B4B4;
    border-radius: var(--scroll-radius);
    border: var(--scroll-padding) solid transparent;
    background-clip: content-box;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background-color: #7F7F7F;
    display: block;
}

/* Estilos especificos */

#hero {
    min-height: 95vh;
}

.hero__background {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
}

.container-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

/* About */

#about {
    min-height: 500px;
    background-color: var(--section-color);
    background-image: linear-gradient(0deg, #000000bf, #000000bf), url('imgs/about-wallpaper.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
}

/* Skills */

#skills {
    min-height: 100vh;
}

#skills .container {
    width: 80vw;
}

.title-skills {
    margin-bottom: 50px;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

figure .img-skill {
    width: 200px;
    height: 200px;
    display: none;
}

.skill-icon {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

#skills .container .title {
    margin-top: 50px;
}

.icon-container {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 15px 0px;
    min-width: 250px;
    height: auto;
}

.icon-name {
    color: var(--text-color-white);
    font-weight: bold;
    padding: 0px 10px;
    background-color: #00000020;
    border-radius: 5px;
}

.other {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front-title {
    animation: front-animation 4s alternate infinite ease-in-out;
}

.back-title {
    animation: back-animation 5.5s alternate infinite ease-in-out;
}

@keyframes back-animation {
    from {
        color: #009FFF;
        text-shadow: 0 0 30px #009FFF;
    }

    to {
        color: #ec2F4B;
        text-shadow: 0 0 30px #ec2F4B;
    }
}

@keyframes front-animation {
    from {
        color: #fc4a1a;
        text-shadow: 0 0 30px #fc4a1a;
    }

    to {
        color: #f7b733;
        text-shadow: 0 0 30px #f7b733;
    }
}

/* Education */

#education {
    height: auto;
    padding: 45px 0px;
    background-color: var(--section-color);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('imgs/education-wallapaper.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
}

.title-card {
    font-size: 20px;
}

.paragraph-card {
    font-weight: 100;
}

.diploma-link {
    position: absolute;
    top: 5%;
    right: 5%;
    filter: invert(100%);
    height: 30px;
    width: 30px;
    color: #fff;
}

.diploma-link img {
    height: 30px;
    width: 30px;
}

.back-card,
.front-card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all ease .5s;
    backface-visibility: hidden;
}

.back-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #fff;
    position: absolute;
    top: 0;
    padding: 15px;
    transform: perspective(600px) rotateY(180deg);
    background: rgba(223, 234, 241, 0.7);
    background: var(--card-gradient);
}

.back-card hr {
    height: 5px;
    width: 100%;
    background: #fff;
}

.educations-container {
    display: flex;
    width: 70vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.education-card {
    display: inline-block;
}

.education-card:hover figure {
    transform: perspective(600px) rotateY(180deg);
    -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
}

.education-card figure {
    height: 250px;
    position: relative;
    transition: all ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}

/* Projects */

#projects {
    min-height: 80vh;
}

#projects .container {
    width: 100%;
}

.cards-container {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 33vh;
    min-width: 240px;
    min-height: 135px;
    max-width: 480px;
    max-height: 270px;
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 175%;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    background-image: linear-gradient(to right, #0a0a0a, #2a2a2a);
    transition: all .3s ease-in-out;
    overflow: hidden;
    position: relative;
}

.card-1 {
    background-image: url('imgs/stocktracking.jpg');
}

.card-2 {
    background-image: url('imgs/comunicate.webp');
}

.card-3 {
    background-image: url('imgs/carrito-de-compras.jpg');
    background-position: right;
}

.card-4 {
    background-image: linear-gradient(0deg, #0000001a, #0000001a), url('imgs/galeria.jpg');
}

.links-project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-link {
    color: #f0f0f0;
    width: 65%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    padding: 3px 7px;
    background-color: #00000080;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.link-project {
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.link-project:hover {
    text-shadow: 0 0 10px #f0f0f0;
}

.project-info {
    margin-top: 20px;
    display: none;
    transition: all .3s ease-in-out;
    text-align: start;
    font-weight: 100;
    font-size: 16px;
}

.card:hover>.card-link {
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.90);
}

.card:hover>.card-link>.project-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Networks */

#networks {
    min-height: 200px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
    background-color: var(--section-color);
    background-image: linear-gradient(0deg, #000000cc, #000000cc), url(imgs/footer-wallpaper.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#networks .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.containet-net {
    width: 35px;
    height: 35px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: all .1s ease-in-out;
}

.containet-net:hover {
    text-shadow: 0 0 15px #ffffffd4;
    transform: scale(1.2);
}

.link-network {
    transition: 0s text-decoration ease;
}

.icon-network {
    font-size: 2em;
    color: #fff;
    transition: 0s ease-in-out all;
}

.container-networks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px 10px;
}



/* Media queries for Desktop */

@media (min-width:1000px) {

    .container {
        padding: 0px 20px;
    }

    /* Navbar Desktop */

    .btn-nav {
        display: none;
    }

    .nav {
        backdrop-filter: none;
        background-color: var(--section-color);
    }

    .navbar {
        background-color: transparent;
        backdrop-filter: none;
        height: auto;
        position: relative;
        left: 0;
        margin-top: 0;
        opacity: 1;
    }

    .link-cv {
        position: fixed;
        right: 1vw;
        top: 95vh;
        background-color: #0a0a0a;
        transition: all .2s ease-in-out;
    }

    .link-cv:hover {
        transform: scale(1.3);
    }

    .wallpaper-nav {
        display: none;
    }

    .list {
        height: 55px;
        padding: 1px 20px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        position: fixed;
        z-index: 2;
    }

    /* Hero Desktop */

    .container-hero {
        align-items: center;
        flex-direction: row-reverse;
        gap: 60px;
    }


    .hero-title {
        text-align: start;
    }

    .profile {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }

    /* About Desktop */

    #about .container {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    #about .container .title {
        font-size: 3em;
        text-align: start;
    }

    #about .container .paragraph {
        text-align: start;
    }

    /* Skills Desktop */

    .skills-container {
        gap: 0px;
    }

    .skill-icon {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }

    #skills .container .title {
        font-size: 3em;
    }

    figure .img-skill {
        display: inline-block;
    }

    .backend figure,
    .frontend figure {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
    }

    .frontend figure {
        flex-direction: row-reverse;
    }

    /* Education Desktop */

    #education .container .title {
        font-size: 3em;
    }

    /* Projects Desktop */

    #projects .container .title {
        font-size: 3em;
        margin-bottom: 100px;
    }

    /* Networks Desktop */

    #networks .container .title,
    #networks .container .paragraph {
        text-align: start;
        margin: 20px 0px;
    }

    #networks .container {
        width: 80%;
    }

    .container-networks {
        gap: 30px;
    }

}